{% extends "main.html" %}
{% block title %}Set Date{% endblock title %}
{% block content %}
    <span>
        {% if value.month %}
        30 days are set!
        {% endif %}
        {% if not value.month %}
        29 days are set!
        {% endif %}

    </span>
    <hr>
    
    <form action="/set" method="POST">
        <input type="checkbox" name="check" {%if value.month%} checked {%endif%}>
        <label for="30 days Month">30 days Month</label><br/>
        <label for="Year">Password</label><br/>
        <input type="password" name='pass'><br/>
        <input type="submit" value="Set">
    </form>
{% endblock content %}